---
import ThemeToggle from "./theme-toggle.astro";
---

<div class="nav-container">
  <p>the nav...</p>
  <ThemeToggle />
</div>
<style>
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
  }
</style>
