---
import ThemeToggle from "./theme-toggle.astro";

const title = "the nav...";
---

<a
  class="bg-highlight text-highlight text-center shadow w-32 p-2 left-0 right-0 mx-auto rounded-b absolute translate-y-[-120%] focus:translate-y-0 transition-transform"
  href="#content">Skip to content</a
>
<div class="flex justify-between items-center px-4 py-2">
  {
    Astro.url.pathname === "/" ? (
      <h1 class="cursor-default">{title}</h1>
    ) : (
      <a href="/" class="plain-link">
        {title}
      </a>
    )
  }
  <ThemeToggle />
</div>
