---
interface Props {
  title: string;
  anchor: string;
  children?: Props[];
}

const { title, anchor, children } = Astro.props;
---

<li>
  <a href={`#${anchor}`}>{title}</a>
  {
    children && (
      <ul class="pl-4">
        {children.map((props) => (
          <Astro.self {...props} />
        ))}
      </ul>
    )
  }
</li>
