---
import Layout from "../components/layout.astro";
---

<Layout
  sidebar={{
    links: [
      {
        anchor: "the-sidebar",
      },
      {
        anchor: "item-2",
        title: "Item #2",
        children: [
          {
            anchor: "sub-item-1",
          },
          {
            anchor: "sub-item-2",
            children: [
              {
                anchor: "another-nest",
              },
            ],
          },
          {
            anchor: "sub-item-3",
          },
        ],
      },
    ],
  }}
>
  <h1>Astro</h1>
</Layout>
