---
import Layout from "../../components/layout.astro";
---

<Layout>
  <h1>Demos</h1>
  <p>This will eventually have demo stuff. Don't know exactly where to put it or structure it</p>
  <a href="/#content">Back</a>
</Layout>
